<!DOCTYPE html>
<html>
<head>
    <!--
        ===
        This comment should NOT be removed.

        Charisma v2.0.0

        Copyright 2012-2014 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0

        http://usman.it
        http://twitter.com/halalit_usman
        ===
    -->
    <meta charset="utf-8">
    <title>WebInventar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link href="~/Content/bootstrap-cerulean.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/charisma-app.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <a class="navbar-brand" href="index.html">
                <img alt="Charisma Logo" src="img/logo20.png" class="hidden-xs" />
                <span>WebInventar</span>
            </a>

            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="#"> Отчеты</a></li>
            </ul>

        </div>
    </div>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">

            <!-- left menu starts -->
            <div class="col-sm-2 col-lg-2">
                <div class="sidebar-nav">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked">

                        </div>
                        <ul class="nav nav-pills nav-stacked main-menu">
                            <li class="nav-header">Учёт и инвентаризация2</li>
                            <li>
                                @Html.ActionLink("Компьютеры", "Computers", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Ноутбуки", "Computers", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Сервера", "Servers", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("МФУ/Принтеры", "Printers", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Сканеры", "Scaners", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Ризограф", "Risograph", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Сетевое оборудование", "Networks", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Источники бесперебойного питания", "Ibp", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Проекторы", "Proectors", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Коплектующие", "Hardware", new { @class = "ajax-link" })
                            </li>
                            <li class="nav-header hidden-md">Техническое обслуживание и ремонт</li>
                            <li>
                                @Html.ActionLink("Компьютер/Ноутбук", "Diagnostics_comp", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Принтер/Мфу/Сканер", "Diagnostics_print", new { @class = "ajax-link" })
                            </li>
                            <li class="nav-header hidden-md">Справочники</li>
                            <li>
                                @Html.ActionLink("Реквизиты", "Organization", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Отделения/Подразделения", "Otdel", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Кабинеты", "Cabinet", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Сотрудники", "Worker", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Должности", "Position", new { @class = "ajax-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Процессоры (Наименование)", "Proc", new { @class = "ajax - link" })
                            </li>
                            <li>
                                @Html.ActionLink("Процессоры (Частота)", "Proc", new { @class = "ajax - link" })
                            </li>
                            <li>
                                @Html.ActionLink("Процессоры (Частота)", "Proc", new { @class = "ajax - link" })
                            </li>
                            <li>
                                @Html.ActionLink("Процессоры (Частота)", "Proc", new { @class = "ajax - link" })
                            </li>
                            <li>
                                @Html.ActionLink("Процессоры (Частота)", "Proc", new { @class = "ajax - link" })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/span-->
            <!-- left menu ends -->

            @RenderBody()

        </div>

    </div><!--/.fluid-container-->   

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
