@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout_rep.cshtml";
}
<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
        <ul class="breadcrumb">
            <li>
                @Html.ActionLink("Главная", "Desktop", new { @class = "ajax-link" })
            </li>
            <li>
                Отчет по программному обеспечению
            </li>
        </ul>
    </div>
    <div class=" row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="Всего компьютеров - @ViewBag.compcount" class="well top-block" href="/Home/Computers">

                <div>Всего компьютеров</div>
                <div>@ViewBag.count</div>
            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="Всего ноутбуков - @ViewBag.noutcount" class="well top-block" href="/Home/Computers">

                <div>Всего ноутбуков</div>
                <div>@ViewBag.noutcount</div>
            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="Всего принтеров - @ViewBag.printercount" class="well top-block" href="/Home/Printers">

                <div>Всего принтеров</div>
                <div>@ViewBag.printercount</div>
            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="Всего комплектующих - @ViewBag.componentcount" class="well top-block" href="/Home/Component">

                <div>Всего комплектующих</div>
                <div>@ViewBag.componentcount</div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2> Отчет по программному обеспечению</h2>
                </div>
                <div class="box-content">
                    @using (Html.BeginForm("ExportSoft", "Home", FormMethod.Get))
                    {
                        <input type="submit" value="Сформировать" class="btn btn-default" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content ends -->