@model IEnumerable<WebInventar1.Models.ServerWithDetail>
@{
    ViewBag.Title = "Server";
    Layout = "~/Views/Shared/_Layout_inv.cshtml";
}
    <div id="content" class="col-lg-10 col-sm-10">
        <!-- content starts -->
        <div>
            <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "Desktop", new { @class = "ajax-link" })
                </li>
                <li>
                    Серверы
                </li>
            </ul>
        </div>
        <div class=" row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a data-toggle="tooltip" title="Всего компьютеров - @ViewBag.compcount" class="well top-block" href="/Home/Computers">

                    <div>Всего компьютеров</div>
                    <div>@ViewBag.compcount</div>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <a data-toggle="tooltip" title="Всего ноутбуков - @ViewBag.noutcount" class="well top-block" href="/Home/Computers">

                    <div>Всего ноутбуков</div>
                    <div>@ViewBag.noutcount</div>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <a data-toggle="tooltip" title="Всего принтеров - @ViewBag.printercount" class="well top-block" href="/Home/Printers">

                    <div>Всего принтеров</div>
                    <div>@ViewBag.printercount</div>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <a data-toggle="tooltip" title="Всего комплектующих - @ViewBag.componentcount" class="well top-block" href="/Home/Component">

                    <div>Всего комплектующих</div>
                    <div>@ViewBag.componentcount</div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2> Список серверов</h2>
                    </div>
                    <div class="box-content">
                        Всего серверов - @ViewBag.count
                        <br>
                        @Html.ActionLink("Добавить", "Serveradd", new { @class = "btn btn-danger" })
                        <br>
                        <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                            <thead>
                                <tr>
                                    <th>ФИО Администратора</th>
                                    <th>Подразделение</th>
                                    <th>Телефон</th>
                                    <th>Инв.номер</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var b in Model)
                                {
                                    <tr>
                                        <td>@b.Worker.Name</td>
                                        <td class="center">@b.Otdel.Name</td>
                                        <td class="center">@b.Server.Phone</td>
                                        <td class="center">@b.Server.Server_inv</td>
                                        <td class="center">
                                            <span class="label-success label label-default">1</span>
                                        </td>
                                        <td class="center">
                                            @Html.ActionLink("Просмотр", "ServerView", new { ID = @b.Server.ServerID }, new { @class = "btn btn-info" })
                                            @Html.ActionLink("Редактировать", "Serveredit", new { ID = @b.Server.ServerID }, new { @class = "btn btn-info" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- content ends -->